.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #182e59;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#all-users table {
  width: 100%;
}

#login input,
label {
  margin: 0.5rem;
}

#login button {
  margin: 2rem;
  padding: 0.25rem;
}

table th,
td {
  padding: 2rem;
}

form label {
  display: block;
  font-size: medium;
  margin-bottom: 0px;
  padding: 2px;
}

form input {
  margin-top: 0px;
  width: 180px;
}

form div {
  height: min-content;
}

#save-btn {
  margin: 40px;
  width: 150px;
  height: 50px;
}
