.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #182e59;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-navbar {
  background-color: #010c22;
  text-align: left;
}

.App-navbar ul {
  margin: 0;
}

.App-navbar ul li {
  list-style: none;
}

.App-navbar ul li * {
  color: #ffffff;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#all-users table {
  width: 100%;
}

#login input,
label {
  margin: 0.5rem;
}

#error-container {
  background-color: darkred;
  color: rgb(230, 224, 221);
}
.chat .chat-header {
  background-color: #026783;
  height: 2.5rem;
  text-align: left;
}
.chat .chat-header * {
  display: inline-flex;
}

.profile-img {
  margin: 0.25rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.chat .chat-header .chat-name {
  margin: 0.25rem;
  height: 100%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.chat .chat-header .exit-btn {
  background-color: none;
  border-radius: 50%;
  margin-left: 0.5rem;
  margin-right: 1.5rem;
}
.chat .chat-body {
  height: 100%;
}

.chat .chat-body .message-container {
  display: inline-block;
}

.chat .chat-body .message {
  display: inline-block;
  width: max-content;
  min-width: 2rem;
  min-height: 1rem;
  border-radius: 5%;
  margin: 1.5rem;
  padding: 0.75rem;
}

.current-user {
  float: left;
}

.chat .chat-body .message.current-user {
  float: left;
  background-color: #06702f;
  text-align: left;
}

.other-user {
  float: right;
}

.chat .chat-body .message.other-user {
  float: right;
  background-color: #a3aaacdc;
  text-align: left;
}

.chat .chat-footer {
  margin: 0.2rem;
  margin-top: 70%;
}

.chat .chat-footer * {
  margin-top: 0rem;
  margin-bottom: 0rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}
.chat .chat-footer .message-text {
  margin-top: 0rem;
  height: 100%;
}
.chat .chat-footer .send-btn {
  margin-top: 0rem;
  height: 100%;
}

.chat .chat-body .message {
  border-radius: 2%;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

.user-form small {
  display: block;
  color: red;
}

table th,
td {
  padding: 2rem;
}

.user-form label {
  display: block;
  font-size: medium;
  padding: 0.2rem;
}

.user-form input {
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  width: 180px;
}

.user-form button {
  display: inline-block;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

form div {
  height: min-content;
}
