.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #182e59;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-navbar {
  background-color: #010c22;
  text-align: left;
}

.App-navbar ul {
  margin: 0;
}

.App-navbar ul li {
  list-style: none;
}

.App-navbar ul li * {
  color: #ffffff;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#all-users table {
  width: 100%;
}

#loged-user-username {
  display: block;
}

#login input,
label {
  margin: 0.5rem;
}

#logout {
  background-color: darkred;
  border: none;
  margin-top: 0.4rem;
  margin-right: 1.5rem;
  float: right;
}

#logged-user-username {
  float: none;
}

#error-container {
  background-color: darkred;
  color: rgb(230, 224, 221);
}

#conversation-details {
  display: inline-flex;
  width: 100%;
}

#conversation-details * {
  display: inline-flex;
  margin: 0.4rem;
}

#last-message {
  display: flex;
  justify-items: flex-start;
}

#last-message:not(small) * {
  align-self: flex-start;
  margin: 0.2rem;
  font-size: small;
  vertical-align: middle;
}

#user-page #chat-history .chat-history-item {
  padding-right: 0.4rem;
  padding-left: 0.4rem;
}

#user-page #chat-history .chat-history-item hr {
  margin: 0;
  padding: 0;
}

#user-page #chat-history .chat-history-item:hover {
  background-color: rgba(147, 148, 150, 0.212);
  cursor: pointer;
}

.profile-img {
  margin: 0.5rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.chat-window .chat-header {
  background-color: #026783;
  height: max-content;
  text-align: left;
}
.chat-window .chat-header * {
  display: inline;
}

.chat-window .chat-header .chat-name {
  margin: 0.25rem;
  height: 100%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.chat-window .chat-header .exit-btn {
  background-color: none;
  border-radius: 50%;
  margin-left: 0.5rem;
  margin-right: 1.5rem;
}

.chat-window .chat-body {
  height: 45rem;
  overflow: auto;
  width: 100%;
  padding-left: 5rem;
  padding-right: 5rem;
}

.chat-window .chat-body .message-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
}

.chat-window .chat-body .message-container .message {
  display: block;
  flex-wrap: wrap;
  text-align: left;
  min-height: 1.5rem;
  min-width: 5rem;
  max-width: 12rem;
  border-radius: 5%;
  margin: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  word-wrap: break-word;
}

.chat-window .chat-body .message.current-user {
  align-self: flex-start;
  background-color: #06702f;
}

.chat-window .chat-body .message.other-user {
  align-self: flex-end;
  background-color: #a3aaacdc;
}

.chat-window .chat-footer {
  margin: 0.5rem;
}

.chat-window .chat-footer * {
  margin-top: 0rem;
  margin-bottom: 0rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

.user-form small {
  display: block;
  color: red;
}

table th,
td {
  padding: 2rem;
}

.user-form label {
  display: block;
  font-size: medium;
  padding: 0.2rem;
}

.user-form input {
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  width: 180px;
}

.user-form button {
  display: inline-block;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

form div {
  height: max-content;
}
